body {
  margin: 0 auto;
  color: #303942;
  font-family: 'Noto Sans UI', sans-serif;
  margin-left: 80px;
  -webkit-margin-start: 155px;
  font-size: 75%;
}

#title {
  padding: 21px 0 13px;
  font-size: 1.5em;
  -webkit-user-select: none;
  font-weight: normal;
  line-height: 1;
  border-bottom: 1px solid #EEE;
  width: 800px;
}

#changelog {
  width: 800px;
  font-family: monospace;
  background-color: white;
  padding: 12px;
  font-size: 12px;
  white-space: pre-wrap;
  margin-bottom: 24px;
}

#sorry {
  padding: 8px;
}
