body {
  margin: 0 auto;
  color: #303942;
  font-family: 'Noto Sans UI', sans-serif;
  margin-left: 80px;
  -webkit-margin-start: 155px;
  font-size: 75%;
}

button {
  -webkit-appearance: none;
  -webkit-user-select: none;
  background-image: -webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font: inherit;
  margin: 0 1px 0 0;
  text-shadow: 0 1px 0 #F0F0F0;
  -webkit-padding-end: 10px;
  -webkit-padding-start: 10px;
  min-height: 2em;
  min-width: 4em;
  padding: 1px 6px;
  margin-top: 24px;
}

#title {
  padding: 21px 0 13px;
  font-size: 1.5em;
  -webkit-user-select: none;
  font-weight: normal;
  line-height: 1;
  border-bottom: 1px solid #EEE;
  width: 800px;
}

#changelog {
  width: 800px;
  font-family: monospace;
  background-color: white;
  padding: 12px;
  font-size: 12px;
  white-space: pre-wrap;
  margin-bottom: 24px;
  display: none;
}

#message {
  padding: 8px;
}
