body {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
}
#icon {
  height: 32px;
  width: 32px;
  float: left;
}
#text {
  margin-left: 38px;
}
#actions {
  margin-top: 6px;
  float: right;
  color: #15C;
  margin: 8px;
}
#actions > span {
  text-decoration: underline;
  padding-left: 11px;
}
#code {
  margin-left: 38px;
  margin-top: 8px;
  white-space: pre;
  font-family: monospace;
  font-size: 12px;
  color: #444;
}
.new {
  padding-left: 2px;
  margin-top: 1px;
  background: -webkit-linear-gradient(left, #DFD 80%, #FFF 100%); 
}
.new:before {
  content: '+ ';
}
.newChanged {
  background-color: #9F9;
}
.old {
  padding-left: 2px;
  background: -webkit-linear-gradient(left, #FEE 80%, #FFF 100%); 
}
.old:before {
  content: '- ';
}
.oldChanged {
  background-color: #FAA;
}
